[submodule "ocaml"]
	path = ocaml
	url = git://github.com/ocaml/ocaml.git
[submodule "findlib"]
	path = findlib
	url = git://github.com/savonet/findlib.git
[submodule "flexdll"]
	path = flexdll
	url = git://github.com/savonet/flexdll.git
